In [1]:
globals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['', 'globals()'],
 '_oh': {},
 '_dh': ['/Users/abasar/workspaces/python/AZ - demos'],
 '_sh': <module 'IPython.core.shadowns' from '/anaconda3/lib/python3.7/site-packages/IPython/core/shadowns.py'>,
 'In': ['', 'globals()'],
 'Out': {},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x109a786a0>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x109adf3c8>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x109adf3c8>,
 '_': '',
 '__': '',
 '___': '',
 '_i': '',
 '_ii': '',
 '_iii': '',
 '_i1': 'globals()'}

In [2]:
x = 10

In [3]:
globals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['', 'globals()', 'x = 10', 'globals()'],
 '_oh': {1: {...}},
 '_dh': ['/Users/abasar/workspaces/python/AZ - demos'],
 '_sh': <module 'IPython.core.shadowns' from '/anaconda3/lib/python3.7/site-packages/IPython/core/shadowns.py'>,
 'In': ['', 'globals()', 'x = 10', 'globals()'],
 'Out': {1: {...}},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x109a786a0>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x109adf3c8>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x109adf3c8>,
 '_': {...},
 '__': '',
 '___': '',
 '_i': 'x = 10',
 '_ii': 'globals()',
 '_iii': '',
 '_i1': 'globals()',
 '_1': {...},
 '_i2': 'x = 10',
 'x': 10,
 '_i3': 'globals()'}

In [5]:
x = [3, 9, 10, 2, 30, -1]
def square(n):
    return n * n # n ** 2
list(map(square, x))

[9, 81, 100, 4, 900, 1]

In [8]:
# Lambda is an anonymous function
# That means, it is a function with only argument and body, but no name
x = [3, 9, 10, 2, 30, -1]
square = lambda n: n*n
list(map(square, x))

[9, 81, 100, 4, 900, 1]

In [9]:
x = [3, 9, 10, 2, 30, -1]
list(map(lambda n: n*n, x))

[9, 81, 100, 4, 900, 1]

In [10]:
x = ["Apple", "Banana", "Cake", "Duck"]
list(map(len, x))

[5, 6, 4, 4]

In [11]:
x = ["Apple", "Banana", "Cake", "Duck"]
list(map(lambda v: len(v), x))

[5, 6, 4, 4]

In [12]:
x = [3, 9, 10, 2, 30, -1]
def square(n):
    print(n)
    return n * n # n ** 2
list(map(square, x))

3
9
10
2
30
-1

[9, 81, 100, 4, 900, 1]

In [13]:
x = [3, 9, 10, 2, 30, -1]
def square(n):
    print(n)
    return n * n # n ** 2
map(square, x)

In [15]:
x = [3, 9, 10, 2, 30, -1]
def square(n):
    print(n)
    return n * n # n ** 2
list(map(square, x))[:3]

3
9
10
2
30
-1

[9, 81, 100]

In [18]:

def m1():
    print("m1")


m1()

m1

In [25]:
def add(x, y = 10):
    return x - y

print(add(2, 3))
print(add(2))
print(add(y = 2, x = 14))

-1
-8
12

In [26]:
def add(x, y, z):
    return x +  y - z

print(add(2, 3, 5))
print(add(2, z = 10, y = 15))

0
7

In [41]:
def add(x:int, y:int = 10, z:int = 100) -> int:
    return x +  y - z

print(add(2, 3, 5))
print(add(2, z = 10, y = 15))
print(add(2, z = 10))
print(add(2))

0
7
2
-88

In [31]:
def add(*n):
    print(type(n))
    total = 0
    for v in n:
        total += v
    return total

print(add())
print(add(1))
print(add(1, 2))
print(add(1, 2, 10))

<class 'tuple'>
0
<class 'tuple'>
1
<class 'tuple'>
3
<class 'tuple'>
13

In [33]:
import json
def to_json(**kw):
    print(type(kw))
    return json.dumps(kw)
print(to_json())
print(to_json(a = "apple"))
print(to_json(a = "apple", b = "banana"))

<class 'dict'>
{}
<class 'dict'>
{"a": "apple"}
<class 'dict'>
{"a": "apple", "b": "banana"}

In [34]:
import json
def to_json(**kw):
    print(type(kw))
    return json.dumps(kw)
print(to_json(1, 2))

TypeError: to_json() takes 0 positional arguments but 2 were given

In [40]:
def my_fun(x1, *ys, **kws):
    print("x1", type(x1), x1)
    print("ys", type(ys), ys)
    print("kws", type(kws), kws)

my_fun()

TypeError: my_fun() missing 1 required positional argument: 'x1'

In [37]:
def my_fun(x1 = 100, *ys, **kws):
    print("x1", type(x1), x1)
    print("ys", type(ys), ys)
    print("kws", type(kws), kws)

my_fun()

x1 <class 'int'> 100
ys <class 'tuple'> ()
kws <class 'dict'> {}

In [38]:
my_fun(102, 304, 501, 40)

x1 <class 'int'> 102
ys <class 'tuple'> (304, 501, 40)
kws <class 'dict'> {}

In [39]:
my_fun(102, 304, 501, 40, a = "apple", b = "banana")

x1 <class 'int'> 102
ys <class 'tuple'> (304, 501, 40)
kws <class 'dict'> {'a': 'apple', 'b': 'banana'}

In [44]:
def add(x:int, y: int) -> int:
    return x + y

print(add(1, 2))
print(add(1.0, 2.))
print(add(1, 2.9))
print(add("one", "two"))
print(add([1, 4, 65], [2, 45, 0]))

3
3.0
3.9
onetwo
[1, 4, 65, 2, 45, 0]

In [45]:
def add(x:int, y: int) -> int:
    if type(x) is not int:
        raise ValueError("x must be in")
    if type(y) is not int:
        raise ValueError("y must be in")
    return x + y

print(add(1, 2))
print(add(1.0, 2.))
print(add(1, 2.9))
print(add("one", "two"))
print(add([1, 4, 65], [2, 45, 0]))

3

ValueError: x must be in

In [46]:
def create_multiplier(n): 
    def multiply(x):
        return x * n
    return multiply

In [47]:
multiplier10 = create_multiplier(10)

In [48]:
type(multiplier10)

function

In [49]:
multiplier10(20)

200

In [50]:
multiplier10(30)

300

In [51]:
multiplier2 = create_multiplier(2)

In [52]:
multiplier2(3)

6

In [53]:
multiplier2(19)

38

# Exercise: Define a closure for wrapper around datetime.datetime.strptime function

The closure should take a format and return function that will parse a string date format to return datetime.

```
def create_parser(format):
    ... define the body

date_parser = create_parser("%Y-%m-%d")
date_parser("2019-07-29") # datetime.datetime(2019, 7, 29, 0, 0)
date_parser("2019-07-31") # datetime.datetime(2019, 7, 31, 0, 0)

```

In [60]:
from datetime import datetime

def create_parser(format):
    def parse(date_string):
        return datetime.strptime(date_string, format)
    return parse

date_parser = create_parser("%Y-%m-%d")
print(date_parser("2019-07-29"))
print(date_parser("2019-07-31"))

2019-07-29 00:00:00
2019-07-31 00:00:00

In [88]:
class BankAccount():
    pass

account1 = BankAccount() # instantiation
account1.name = "Abul Basar"
print(account1.name)

Abul Basar

In [153]:
from datetime import datetime

In [163]:
int(datetime.utcnow().timestamp() * 1000000)

1564458154740950

In [191]:
from enum import Enum


class InvalidDepositAmountError(Exception):
    pass

class AccountStatus(Enum):
    Active = 1
    Inactive = 2
    Suspend = 3


class BankAccount():
    
    __slots__ = ("name", "__balance", "transactions", "__acct_id", "status")
    
    def __init__(self, name:str, balance:float = 0):
        self.__acct_id = self.generate_id()
        self.name = name
        self.__balance = balance
        self.transactions = []
        self.status = AccountStatus.Active
        
    @staticmethod
    def generate_id():
        return int(datetime.utcnow().timestamp() * 1000000)
        
    @property
    def acct_id():
        return __acct_id
    
    @property
    def balance(self):
        return self.__balance
    
    @balance.setter
    def balance(self, amount):
        if amount<0:
            raise ValueError("Net balance must be 0 or more")
        
    def __repr__(self):
        return "id: {id} name: {name}, balance: {balance} status: {status}".format(
            id = self.__acct_id, 
            name = self.name, 
            balance = self.__balance,
            status = self.status
        )
    
    def deposit(self, amount):
        
        if not(type(amount) is int or type(amount) is float):
            raise InvalidDepositAmountError("Amount must be float or integer")
            
        if amount<0:
            raise InvalidDepositAmount("Amount must be greater than 0")
        
        self.__balance = self.__balance + amount
        
    def withdraw(self, amount):
        if amount > self.__balance:
            raise ValueError("Withdrawal amount must be lower than the balance amount")
        self.balance = self.balance - amount
    
    def __eq__(self, other):
        return self.name == other.name


account1 = BankAccount("abul basar")
account1.deposit(100)
account1.withdraw(80)
account1.name = "Abul Basar"
print("account: ", account1)
print("name: ", account1.name)
account1.withdraw(80)
account1.deposit(-100)
account1

account:  id: 1564459249288292 name: Abul Basar, balance: 100 status: AccountStatus.Active
name:  Abul Basar

InvalidDepositAmount: Amount must be greater than 0

In [166]:
account1.generate_id()

1564458186823802

In [168]:
BankAccount.generate_id()

1564458214975921

In [152]:
account1.balance = -10

ValueError: Net balance must be 0 or more

In [125]:
account1 = BankAccount("abul basar", 100)
account2 = BankAccount("Abul Basar", 200)

account1 == account2

False

In [ ]:
account1 ==>

In [126]:
account1

name: abul basar, balance: 100

In [127]:
account2

name: Abul Basar, balance: 200

In [78]:
"name: {}, balance: {}".format(account1.name, account1.balance)

'name: Abul Basar, balance: 0'

In [80]:
"name: {name}, balance: {balance}".format(name = account1.name
                                          , balance = account1.balance)

'name: Abul Basar, balance: 0'

In [82]:
"name: {name}, balance: {balance}".format(**account1.__dict__)

'name: Abul Basar, balance: 0'

# Exercise: Define a class Stock 

Data Source: https://raw.githubusercontent.com/abulbasar/data/master/stocks.small.csv

- Members date,open,high,low,close,volume,adjclose,symbol 
- Define a constructor that take a line and populates the member variables. Type cast open,high,low,close,volume,adjclose as float and parse date field as datetime.
- Define a method that calculates the percent change in stock within a day. [Hint: pct = (close - open)/open]
- Define a method that represent a record in json string format


```
class Stock():
    def __init__(self, line):
        parts = line.split(",")
        ...
    
    def __repr__(self):
        return ...
    
    def pct_change(self):
        return (self.close - self.open) * 100/ self.open
    
content = requests.open("...").text
data = cotent.split("\n")[1:-1]
records = []
for line in data:
    stock = Stock(line)
    records.append(stock)
```

In [97]:
from datetime import datetime
class Stock():
    
    @staticmethod
    def parse_utc_date(date_string):
        return datetime.strptime(date_string, "%Y-%m-%d")
    
    def __init__(self, line):
        parts = line.split(",")
        self.date = self.parse_utc_date(parts[0])
        self.open = float(parts[1]) 
        self.high = float(parts[2])
        self.low = float(parts[3])
        self.close = float(parts[4])
        self.volume = float(parts[5])
        self.adjclose = float(parts[6])
        self.symbol = parts[7]
        
    def __repr__(self):
        return "{date} {symbol} {adjclose}".format(**self.__dict__)
    
    @property
    def pct_change(self):
        return (self.close - self.open) * 100/ self.open

content = open("/data/stocks.small.csv").read()
data = content.split("\n")[1:-1]
records = []
for line in data:
    stock = Stock(line)
    records.append(stock)

In [101]:
records[0].pct_change

-1.2516184721622787

In [129]:
for record in records[:5]: 
    print(record, record.pct_change)

2000-07-18 00:00:00 INTC 50.155473 -1.2516184721622787
2000-07-20 00:00:00 BEN 8.789734 2.4667620594270687
2000-07-24 00:00:00 APH 7.689567 0.7782101167315175
2000-07-26 00:00:00 SHW 15.61832 -4.285714285714286
2000-07-26 00:00:00 STJ 9.402721 -0.2976190476190476

In [140]:
import json 

class Animal():
    def __init__(self, name, legs):
        self.name = name
        self.legs = legs
        
    def __repr__(self):
        return json.dumps(self.__dict__)
    
    def scream(self):
        print("Screaming ", self.name)
        
animal1 = Animal("test1", 4)
animal1

{"name": "test1", "legs": 4}

In [141]:
class Monkey(Animal):
    def __init__(self, name, legs, blood_group):
        super().__init__(name, legs)
        self.blood_grroup = blood_group
        
monkey1 = Monkey("Test2", 2, "A")
monkey1

{"name": "Test2", "legs": 2, "blood_grroup": "A"}

In [142]:
monkey1.scream()

Screaming  Test2

In [144]:
import json 

class Animal():
    def __init__(self, name, legs):
        self.name = name
        self.legs = legs
        
    def __repr__(self):
        return json.dumps(self.__dict__)
    
    def scream(self):
        print("Screaming ", self.name)
        
animal1 = Animal("test1", 4)
animal1


class Monkey(Animal):
    def __init__(self, name, legs, blood_group):
        super().__init__(name, legs)
        self.blood_grroup = blood_group
        
    def scream(self):
        print("Monkey Screaming ", self.name)
        
monkey1 = Monkey("Test2", 2, "A")
monkey1

{"name": "Test2", "legs": 2, "blood_grroup": "A"}

In [145]:
monkey1.scream()

Monkey Screaming  Test2