In [1]:
print("hello")

hello

In [3]:
s = "Hello World"

In [ ]:
s.endswith()

In [4]:
x = 12

In [5]:
type(x)

int

In [6]:
type(x) is int

True

In [9]:
type(x) is float

False

In [10]:
x = 1.23

In [11]:
type(x)

float

In [12]:
x = True

In [13]:
type(x)

bool

In [14]:
x = [2, 3, 4, 10, 13]

In [15]:
type(x)

list

In [16]:
x = [2, 3, 4, 10, 13, "ten", 12.3]

In [18]:
x = list([2, 3, 4, 10, 13, "ten", 12.3])

In [19]:
x = list()

In [20]:
x = [2, 3, 4, 10, 13]

In [21]:
len(x)

5

In [22]:
x[2:5]

[4, 10, 13]

In [23]:
x[2:10]

[4, 10, 13]

In [24]:
x = [2, 3, 4, 10, 13, 15]
x[2:5]

[4, 10, 13]

In [25]:
x = [2, 3, 4, 10, 13, 15]
x[:3]

[2, 3, 4]

In [26]:
x = [2, 3, 4, 10, 13, 15]
x[-1]

15

In [27]:
x = [2, 3, 4, 10, 13, 15]
x[-2]

13

In [28]:
x = [2, 3, 4, 10, 13, 15]
x[-0]

2

In [29]:
x.reverse()

In [30]:
x

[15, 13, 10, 4, 3, 2]

In [31]:
x = [2, 3, 4, 10, 13, 15]
x[::-1]

[15, 13, 10, 4, 3, 2]

In [32]:
x = [2, 3, 4, 10, 13, 15]
x[-3:]

[10, 13, 15]

In [33]:
x = [2, 3, 4, 10, 13, 15]
x[::2]

[2, 4, 13]

In [36]:
x = list(range(100))
x[20:50:3]

[20, 23, 26, 29, 32, 35, 38, 41, 44, 47]

In [37]:
x = list(range(100))
x[50:20]

[]

In [38]:
x = list(range(100))
x[50:20:-3]

[50, 47, 44, 41, 38, 35, 32, 29, 26, 23]

In [41]:
x = list(range(100))
x[::-1]

[99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]

In [43]:
x = [2, 3, 4, 10, 13, 15]
13 in x, 14 in x

(True, False)

In [46]:
x = [2, 3, 4, 10, 13, 15, 13]
x.index(13)

4

In [47]:
x.index(14)

ValueError: 14 is not in list

In [48]:
x = [2, 3, 4, 10, 13, 15, 13]
x.append(20)
x

[2, 3, 4, 10, 13, 15, 13, 20]

In [49]:
x = [2, 3, 4, 10, 13, 15, 13]
x.insert(2, 20)
x

[2, 3, 20, 4, 10, 13, 15, 13]

In [50]:
i = x.index(4)
x = [2, 3, 4, 10, 13, 15, 13]
x.insert(i, 20)
x

[2, 3, 4, 20, 10, 13, 15, 13]

In [51]:
x = [2, 3, 4, 10, 13, 15, 13]
x.insert(x.index(4), 20)
x

[2, 3, 20, 4, 10, 13, 15, 13]

In [52]:
x = [2, 3, 4, 10, 13, 15, 13]
x[2] = 20
x

[2, 3, 20, 10, 13, 15, 13]

In [55]:
x = [2, 3, 4, 10, 13, 15, 13, 13]
x.pop()

13

In [56]:
x

[2, 3, 4, 10, 13, 15, 13]

In [57]:
x = [2, 3, 4, 10, 13, 15, 13]
len(x)

7

In [59]:
x = [2, 3, 4, 10, 13, 15, 13]
x.count(13)

2

In [60]:
x = [2, 3, 4, 10, 13, 15, 13]
del x[4]
x

[2, 3, 4, 10, 15, 13]

In [61]:
x = [2, 3, 4, 10, 13, 15, 13]
x[4] = 100
x

[2, 3, 4, 10, 100, 15, 13]

In [62]:
x = dict()

In [63]:
type(x)

dict

In [64]:
x  = {}
type(x)

dict

In [65]:
x = {"a": "Apple", "b": "Banana", "c": "Cake"}

In [66]:
type(x)

dict

In [67]:
x["a"]

'Apple'

In [69]:
x = {"12.9.4.19": True, "56.34.90.102": False}
x["12.9.4.19"]

True

In [70]:
x = {"a": "Apple", "b": "Banana", "c": "Cake", "c": "Cat"}
x

{'a': 'Apple', 'b': 'Banana', 'c': 'Cat'}

In [71]:
x = {"a": "Apple", "b": "Banana", "c": "Cake", "d": "Cake"}
x

{'a': 'Apple', 'b': 'Banana', 'c': 'Cake', 'd': 'Cake'}

In [92]:
k = [1, 2, 3]
x = {k: 1}

TypeError: unhashable type: 'list'

In [74]:
l = [1, 2, 3]
x = {"values": l}
x["values"]

[1, 2, 3]

In [76]:
y = [1, 2, 3]
x = {"values": y}
y.append(100)
x["values"]

[1, 2, 3, 100]

In [79]:
x = {"a": "Apple", "b": "Banana", "c": "Cake", "c": "cat"}
len(x)

3

In [80]:
x = dict(a = "Apple", b = "Banana", c = "Cake")
x

{'a': 'Apple', 'b': 'Banana', 'c': 'Cake'}

In [81]:
x = dict(a = "Apple", b = "Banana", c = "Cake")
x["d"] = "Duck"
x

{'a': 'Apple', 'b': 'Banana', 'c': 'Cake', 'd': 'Duck'}

In [82]:
x = dict(a = "Apple", b = "Banana", c = "Cake")
x["c"] = "Cat"
x

{'a': 'Apple', 'b': 'Banana', 'c': 'Cat'}

In [84]:
x = dict(a = "Apple", b = "Banana", c = "Cake")
del x["c"]
x

{'a': 'Apple', 'b': 'Banana'}

In [85]:
x = dict(a = "Apple", b = "Banana", c = "Cake")
"a" in x

True

In [86]:
x = dict(a = "Apple", b = "Banana", c = "Cake")
'a' in x

True

In [88]:
a = "a"
x = dict(a = "Apple", b = "Banana", c = "Cake")
a in x

True

In [89]:
x = dict(a = "Apple", b = "Banana", c = "Cake")
'e' in x

False

In [90]:
x = dict(a = "Apple", b = "Banana", c = "Cake")
x.keys()

dict_keys(['a', 'b', 'c'])

In [91]:
x = dict(a = "Apple", b = "Banana", c = "Cake")
x.values()

dict_values(['Apple', 'Banana', 'Cake'])

In [93]:
x.items()

dict_items([('a', 'Apple'), ('b', 'Banana'), ('c', 'Cake')])

In [94]:
x = dict(a = "Apple", b = "Banana", c = "Cake")
x["e"]

KeyError: 'e'

In [96]:
x = dict(a = "Apple", b = "Banana", c = "Cake")
y = x.get("e")

In [97]:
y is None

True

In [98]:
x = dict(a = "Apple", b = "Banana", c = "Cake")
y = x.get("e", "Elephant")
y

'Elephant'

In [100]:
x = dict(a = "Apple", b = "Banana", c = "Cake")
x.setdefault("c", "Cat")
x

{'a': 'Apple', 'b': 'Banana', 'c': 'Cake'}

In [124]:
x = dict(a = "Apple", b = "Banana", c = "Cake", d = "")
x["d"] = "Dog"
x

{'a': 'Apple', 'b': 'Banana', 'c': 'Cake', 'd': 'Dog'}

In [125]:
x = dict(a = "Apple", b = "Banana", c = "Cake", d = "")
x.setdefault("d", "Dog")
x

{'a': 'Apple', 'b': 'Banana', 'c': 'Cake', 'd': ''}

In [106]:
x = {"a": "Apple", "b": "Banana", "c": "Cake"}
type(x)

dict

In [107]:
x = set([1, 3, 4, 5, 5])
x

{1, 3, 4, 5}

In [103]:
x = {1, 3, 4, 5, 5}
x

{1, 3, 4, 5}

In [104]:
type(x)

set

In [108]:
x = {1, 3, 4, 5, 5}
len(x)

4

In [109]:
x = {1, 3, 4, 5, 5}
x.add(10)
x

{1, 3, 4, 5, 10}

In [110]:
x = {1, 3, 4, 5, 5}
x.remove(5)
x

{1, 3, 4}

In [111]:
x = {1, 3, 4, 5, 5}
x.remove(50)
x

KeyError: 50

In [112]:
x = {1, 3, 4, 5, 5}
5 in x, 50 in x

(True, False)

In [114]:
y = [1, 3, 4, 5, 5]
x = set(y)
x

{1, 3, 4, 5}

In [115]:
x = tuple([1, 3, 4, 5, 5])
x

(1, 3, 4, 5, 5)

In [116]:
x = 1, 3, 4, 5, 5
x

(1, 3, 4, 5, 5)

In [117]:
type(x)

tuple

In [118]:
x = tuple([1, 3, 4, 5, 5])
x[0]

1

In [119]:
x = tuple([1, 3, 4, 5, 5])
x[0:4]

(1, 3, 4, 5)

In [121]:
x = tuple([1, 3, 4, 5, 5])
x[0] = 10

TypeError: 'tuple' object does not support item assignment

In [132]:
x = ["Apple", "Banana", "Cat", "Duck", "Elephant"]
word_length = {"Apple": 0}
for v in x:
    print(v, len(v))
    word_length[v] = len(v)
word_length

Apple 5
Banana 6
Cat 3
Duck 4
Elephant 8

{'Apple': 5, 'Banana': 6, 'Cat': 3, 'Duck': 4, 'Elephant': 8}

In [130]:
x = ["Apple", "Banana", "Cat", "Duck", "Elephant"]
y = []
for v in x:
    y.append(v.upper())
y

['APPLE', 'BANANA', 'CAT', 'DUCK', 'ELEPHANT']

In [131]:
x = ["Apple", "Banana", "Cat", "Duck", "Elephant"]
y = [v.upper() for v in x]
y

['APPLE', 'BANANA', 'CAT', 'DUCK', 'ELEPHANT']

In [136]:
word_length

{'Apple': 5, 'Banana': 6, 'Cat': 3, 'Duck': 4, 'Elephant': 8}

In [135]:
for word in word_length:
    value = word_length[word]
    print(word, value)

Apple 5
Banana 6
Cat 3
Duck 4
Elephant 8

In [137]:
for length in word_length.values():
    print(length)

5
6
3
4
8

In [138]:
for word in word_length.keys():
    print(word)

Apple
Banana
Cat
Duck
Elephant

In [139]:
def add(x1, x2):
    return x1 + x2

In [140]:
add(2, 3)

5

In [143]:
def is_even(x):
    result = False
    if x % 2  == 0:
        result = True
    return result

is_even(11), is_even(14)

(False, True)

In [145]:
list(range(2, 10))

[2, 3, 4, 5, 6, 7, 8, 9]

# Exercise 1 - Write a function for prime test

In [150]:
def is_prime(n):
    for v in range(2, n):
        if n % v == 0:
            return False
    return True


is_prime(2), is_prime(3), is_prime(5), is_prime(9), is_prime(100), is_prime(101)

(True, True, True, False, False, True)

In [149]:
list(range(2, 2))

[]

# Exercise 2 - Find all prime numbers within n (for example n = 100)

In [152]:
def find_primes(n):
    primes = []
    for v in range(2, n):
        if is_prime(v):
            primes.append(v)
    return primes

print(find_primes(100))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [153]:
content = open(r"/data/stocks.small.csv").read()

In [155]:
lines = content.split("\n")

In [156]:
len(lines)

1848

In [157]:
lines[0]

'date,open,high,low,close,volume,adjclose,symbol'

In [158]:
lines[:3]

['date,open,high,low,close,volume,adjclose,symbol',
 '2000-07-18,144.8125,144.828125,141.4375,143.0,5.06836E7,50.155473,INTC',
 '2000-07-20,32.93751,34.25001,32.8125,33.75,3288300.0,8.789734,BEN']

In [160]:
line = lines[1]
line

'2000-07-18,144.8125,144.828125,141.4375,143.0,5.06836E7,50.155473,INTC'

In [161]:
parts = line.split(",")
parts

['2000-07-18',
 '144.8125',
 '144.828125',
 '141.4375',
 '143.0',
 '5.06836E7',
 '50.155473',
 'INTC']

In [162]:
type(parts)

list

In [163]:
parts[-1]

'INTC'

In [166]:
v = '141.4375'
type(v)

str

In [168]:
w = float(v)
w

141.4375

In [169]:
type(w)

float